<div class="columns">
  <div class="column is-4">
    <div class="field">
      <div class="control has-icons-left">
        <input type="text" placeholder="Search" class="input" ng-model="$ctrl.search" autocomplete="off" maxlength="100">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="columns is-multiline">
  <div class="column is-3" ng-repeat="wish in $ctrl.wishes | orderBy: '-modified_at' | filter: $ctrl.search">
    <div class="box is-wish" ng-click="$ctrl.onSelect(wish)">
      <div class="field is-size-5 has-text-centered">
        {{ wish.name }}
      </div>
<!--      <div class="field is-size-6">-->
<!--        {{ wish.description }}-->
<!--      </div>-->
      <div class="field is-size-4 has-text-centered has-text-weight-bold">
        $ {{ wish.price }}
      </div>
    </div>
  </div>
</div>
