<div class="box is-paddingless">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title"><i class="fa fa-home"></i>&nbsp;Dashboard</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              &nbsp;&nbsp;
              <a class="is-paddingless" href="#">Dashboard</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="box is-paddingless">
  <div class="columns">
    <div class="column">
      <wish></wish>
    </div>
  </div>
</div>
