$body-background: white;
$wrapper-background: whitesmoke;

$navbar-background: white;
$navbar-text: #24292e;

$sidebar-background: white;

$footer-background: white;


$text: #24292e;
$selected: #4a4a4a24;
$menu-title: #6272A4;
$input: whitesmoke;
$link: #3273dc;
