@import './../common.scss';

.aside {
  min-height: calc(100vh - 9em);
  background-color: $sidebar-background;
  padding: 2em .2em 0 1em;
  margin-right: -1.45em;

  .menu-label {
    color: $menu-title;
    margin-left: .5em;
  }

  .menu-list {
    li {
      margin-top: .5em;
    }

    a {
      color: #b3b3b3 !important;
      &.is-active {
        background-color: $selected;
        color: #3273dc !important;
      }
      &:hover {
        background-color: $selected;
        color: $text !important;
      }
    }
  }
}
