<div class="box is-paddingless">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title"><i class="fa fa-user-o"></i>&nbsp;Profile</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="#" ui-sref="authenticated.dashboard">Home</a>
            </li>
            <li>
              &nbsp;&nbsp;
              <a class="is-paddingless" href="#">Profile</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="content box is-paddingless">
  <change-password show-change-password-form="$ctrl.showChangePasswordForm" ng-if="$ctrl.showChangePasswordForm"></change-password>
  <inactive-account show-inactive-account-form="$ctrl.showInactiveAccountForm" ng-if="$ctrl.showInactiveAccountForm"></inactive-account>
  <div class="columns" ng-if="!$ctrl.showChangePasswordForm && !$ctrl.showInactiveAccountForm">
    <div class="column">
      <form ng-submit="$ctrl.saveProfile()">
        <div class="field">
          <label class="label">Full Name</label>
          <div class="control">
            <input type="text" name="full_name" placeholder="Enter your Full Name" class="input" ng-model="$ctrl.user.full_name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">E-mail</label>
          <div class="control">
            <input type="email" name="email" placeholder="Enter your E-mail" class="input" ng-model="$ctrl.user.email" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input type="text" name="cep" placeholder="Enter your CEP Address" class="input" ng-model="$ctrl.user.cep_address" ui-br-cep-mask required>
          </div>
        </div>
        <div class="field">
          <label class="label">{{ $ctrl.user.str_address }}</label>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-small is-link" type="submit">
              <i class="fa fa-plus"></i>
              &nbsp;Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-small is-danger" type="button" ng-click="$ctrl.showInactiveAccountForm=true">
              <i class="fa fa-trash"></i>
              &nbsp;Inactive Account
            </button>
          </div>
          <div class="control">
            <button class="button is-small is-light" type="button" ng-click="$ctrl.showChangePasswordForm=true">
              <i class="fa fa-lock"></i>
              &nbsp;Change Password
            </button>
          </div>
        </div>
        <div class="field" ng-if="$ctrl.message">
          <div class="notification {{ $ctrl.message.type }}">
            <span translate>{{ $ctrl.message.text }}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
