<div class="columns">
  <div class="column">
    <div class="title">Change Password</div>
    <form ng-submit="$ctrl.changePassword()">
      <div class="field">
        <label class="label">Old Password</label>
        <div class="control">
          <input type="password" name="old_password" placeholder="Old password" class="input"
                 ng-model="$ctrl.user.old_password" autocomplete="false" required>
        </div>
      </div>
      <div class="field">
        <label class="label">New Password</label>
        <div class="control">
          <input type="password" name="new_password" placeholder="New password" class="input"
                 ng-model="$ctrl.user.new_password" autocomplete="false" required>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-small is-link" type="submit">
            <i class="fa fa-plus"></i>
            &nbsp;Submit
          </button>
        </div>
        <div class="control">
          <button class="button is-small is-light" type="button" ng-click="$ctrl.showChangePasswordForm=false">
            Back
          </button>
        </div>
      </div>
      <div class="field" ng-if="$ctrl.message">
        <div class="notification {{ $ctrl.message.type }}">
          <span translate>{{ $ctrl.message.text }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
